<p>
  <b>Codigo:</b>
  <%=h @carrera.codigo %>
</p>

<p>
  <b>Nombre:</b>
  <%=h @carrera.nombre %>
</p>


<%= link_to 'Editar', edit_carrera_path(@carrera) %> |
<%= link_to 'Atras', carreras_path %>
