<p>
  <b>Nombre:</b>
  <%=h @tipoespacio.nombre %>
</p>

<p>
  <b>Descripcion:</b>
  <%=h @tipoespacio.descripcion %>
</p>


<%= link_to 'Editar', edit_tipoespacio_path(@tipoespacio) %> |
<%= link_to 'Atras', tipoespacios_path %>
