<p>Espacios libres <%= @search_by_date.nil? ? Time.now : @search_by_date.strftime('el %d-%m-%Y a las %H:%M') %>: </p>
<ul>

<% if @free_spaces.empty? %>
  <li>No hay espacios libres</li>
<% else %>
  <% @free_spaces.each do |space| %>
   <li> <%= link_to space.codigo + ' - ' + space.descripcion, '/eventos/new?espacio_id=' + space.id.to_s  %></li>
  <% end %>
<% end %>
</ul>
